body {
    background-image: radial-gradient(#AAE5E7, #024873);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {

    background-image: radial-gradient(#F2DAAC, #D9B282);
    -webkit-box-shadow: 10px 10px 76px 77px rgba(217,178,130,1);
    -moz-box-shadow: 10px 10px 76px 77px rgba(217,178,130,1);
    box-shadow: 10px 10px 76px 77px rgba(217,178,130,1);
}